* {
    font-family: Arial, Helvetica, sans-serif
}
header div h1 {
    text-align: center;
}
h1 {
    font-family: 'Arial Narrow', Arial, sans-serif;
}
#contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#contentContainer table {
    background: whitesmoke;
}
#content {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* border: 1px solid black; */
    width: 55vw;
    min-width: fit-content;
    max-width: 2080px;
}
#recordingContent {
    display: flex;
    flex-direction: column;
}
#id_init {
    width: 100%;
}
table, td {
    border: 0;
    border-collapse: collapse;
}
td {
    padding: 4px;
}
#tr_header {
    background: lightgray;
}
#tr_video {
    background: whitesmoke;
}
#video {
    width: 40vw;
    height: 40vh;
    min-width: 300px;
    min-height: 300px;
    max-width: 1920px;
    max-height: 1080px;
    /* transform: rotateY(180deg); */
}
footer div p {
    text-align: center;
    font-size: 8pt;
}